.hidden {
    display: none;
}
.rounded-card{
    border-radius:10px;
}

.rounded-tab-upper{
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

tr.selected td {
    background-color: #333;
    color: #fff;
}

.input-text-field {
    width: 30px;
}
.clientProject th, .clientProject td
{
    font-size: 30px;
}
.applicant th, .applicant td{
    font-size: 20px;
}
.translatedText th, .translatedText td{
    font-size: 20px;
}
.underLine.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: none;
}
.underLine.v-text-field>.v-input__control>.v-input__slot:after {
    border-style: none;
}
.underLine.v-text-field>.v-input__control>.v-input__slot>.v-select__slot>.v-select__selections {
    color: #1976D2;
}
/*.first-banner{*/
/*    background-size:cover;*/
/*    height:auto;*/
/*    background-image:url('/elintegrostartapp/assets/elintegro_banner.jpg');*/
/*}*/