.hidden {
    display: none;
}
.rounded-card{
    border-radius:10px;
}

.rounded-tab-upper{
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

tr.selected td {
    background-color: #333;
    color: #fff;
}

.input-text-field {
    width: 30px;
}
.clientProject th, .clientProject td
{
    font-size: 30px;
}
.applicant th, .applicant td{
    font-size: 20px;
}
.translatedText th, .translatedText td{
    font-size: 20px;
}
.underLine.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: none;
}
.underLine.v-text-field>.v-input__control>.v-input__slot:after {
    border-style: none;
}
.underLine.v-text-field>.v-input__control>.v-input__slot>.v-select__slot>.v-select__selections {
    color: #1976D2;
}

#newEmployeeBasicInformation{
    padding-top: 1%;
}
#newEmployeeUploadResume{
    padding-top: 1%;
}
#newEmployeeAdditionalQuestions{
    padding-top: 1%;
}
#applicantGeneralInformation{
    padding-top: 1%;
}
#applicantQuestionAnswer{
    padding-top: 1%;
}
#applicantCommentPage{
    padding-top: 1%;
}

.camera-shoot{
    padding-left: 30px;
}
.navigationDrawerContent {
    font-weight: 400;
    color: #0ca3a3;
    font-family:poppins;
    line-height:33px;
    margin-top: 20px;
    padding-right:900px;
}
.toggle {
    width: 120px;
    background: none;
    border: 0;
    padding: 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


.navigationDrawer {
    position: absolute;
    top: 0;
    left: 69px;
    width: 0; /* initially */
    overflow: hidden;
    background: white;
    z-index: 202;
    transition: all 0.2s;
    text-align: left;
    margin-top : 84px;
    border-radius:9px;
}

.drawer-mask {
    position: absolute;
    left: 0;
    top: -25px;
    width: 100vw; /* initially */
    height: 100vh;
    background: #000;
    opacity: 1;
    z-index: 199;
    transition: opacity 0.2s;
    background:whitesmoke;
}
.drawerContentWithHomeButton{
    margin-left: 18px;
}
.drawerContentWithAppsDataframe, .drawerContentWithNavigationButtonsBeforeOrAfterLoggedIn{
    margin-top: -20px;
}
.drawerContentWithLanguageSelector{
    margin-top:-12px;
    margin-left:5px;
}
.v-data-table__wrapper table thead th{
    font-size: 1rem;
    font-weight: 900;
    font-family: Poppins;
    color: #0f1111;
    background-color: #f6f6f6;
}
.careersDescriptionPicture{
    border-radius: 20px;
}
